
<div class="row">
  <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
      	<center><%= image_tag("mexico_flag.jpg", :class => "banner") %></center>
      </div>
      <div class="item">
      	<center><%= image_tag("mexico_flag2.jpg", :class => "banner" ) %></center>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= link_to(image_tag("Panel2.png", :class => "box" ), "mexico_profile") %>
  </div>
  <div class="span3">
    <%= link_to(image_tag("Panel1.png", :class => "box" ), "http://www.eventbrite.com/event/5741438798/es2005/?rank=1") %>
  </div>
  <div class="span3">
    <%= link_to(image_tag("Panel3.png", :class => "box" ), "speakers") %>
  </div>
  <div class="span3">
    <%= link_to(image_tag("Panel4.png", :class => "box" ), "event_one") %>
  </div>

</div>

<div class="row">

</div>