
<div class="row">
  <div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="item active">
      	<center><%= image_tag("mexico_flag.png", :class => "banner") %></center>
      </div>
      <div class="item">
      	<center><%= image_tag("mexico_flag2.jpg", :class => "banner" ) %></center>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div class="row">
  <div class="span3">
    <%= image_tag("Panel2.png") %>
  </div>
  <div class="span3">
    <%= image_tag("Panel1.png") %>
  </div>
  <div class="span3">
    <%= image_tag("Panel3.png") %>
  </div>
  <div class="span3">
    <%= image_tag("Panel4.png") %>
  </div>

</div>

<div class="row">

</div>