<h1 class="title">Speakers</h1>

<div class="team">
	<div class="row">
		<div class="span2">
			<%= image_tag("beluga.png", :class => "speaker_image") %>
		</div>
		<div class="span8">
			<h3 class="speaker_title">Enrique Berruga Filloy</h3>
			<p class="speaker">Mr. Berruga is a Mexican diplomat since 1984, having served as the Permanent Representative of Mexico to the United Nations. Prior to that, he had been an Undersecretary for Foreign Affairs from 2000 to 2003. He has been a career diplomat since 1984, serving in positions such as the chief of staff of the Minister of Foreign Affairs in 1993 to 1997. From 1997 to 1999, he was the Mexican ambassador to Costa Rica. Mr. Berruga also served as Vicepresident of Corporate Relations and Communication of Grupo Modelo from August of 2007 to December of 2009.

			He graduated with a Bachelor of Arts degree from the El Colegio de México in International Relations. He possess a Master of Arts degree in International Economy and Theory of International Politics from The Johns Hopkins University in Washington, D.C. He has been a professor of Mexican foreign policy, American foreign policy and Theory of International Politics at the Instituto Tecnológico Autónomo de México. He is the author of several works concerning foreign policy and the international economy.</p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("antonio.png", :class => "speaker_image") %>
		</div>
		<div class="span8">
			<h3 class="speaker_title">Jose Antonio Sanchez Perez</h3>
			<p class="speaker">Jose Antonio Sanchez Perez is a Systems Engineer who was born in Mexico City. In 1987 he founded Compucentro with two college friends. The company is devoted to the sales, service and training of Personal Computers to students and small businesses. In 1990 he founded Mainbit SA de CV, which directs its sales to Corporate and Government customers. Since then, as CEO of Mainbit, he has grown the company to be one of the main providers of IT solutions to the Mexican Federal Government, having presence in all the major cities of the country. Currently over 3,000 technicians and engineers work, directly or indirectly in his company to comply with the strict requirements of the Mexican Federal Government. Mr. Sanchez graduated from Instituto Tecnologico de Monterrey (ITESM). In 1998 obtained a post graduate degree in Business Administration from the Instituto Panamericano de Alta Direccion de Empresas (IPADE).
 			</p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("trevino.png", :class => "speaker_image") %>
		</div>
		<div class="span8">
			<h3 class="speaker_title">Luis F. Treviño</h3>
			<p class="speaker">Mr. Treviño is Managing Director of Beamonte Investments and head of the private equity arm of Beamonte Capital Partners, which focuses on Latin American opportunities. Prior to the private equity group, he was also the head of the Merchant Banking division in Beamonte Investments where he structured numerous debt transactions with Latin American clients in various industries including Health, IT and Pharmaceuticals.

			With several years of professional experience in investment banking, private equity, strategic consulting, and corporate finance advisory, Mr. Trevino has worked on numerous advisory and capital-raising assignments including mergers & acquisitions, private placements, board advisory and restructurings.

			Mr. Treviño earned a Bachelor’s Degree in Management from the Universidad Latinoamericana and a Masters in Business Administration in Boston University.</p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("sanchez.jpg", :class => "speaker_image") %>
		</div>
		<div class="span8">
			<h3 class="speaker_title">Ramon Sanchez Piña</h3>
			<p class="speaker">Dr. Ramon Sanchez is a certified professional in sustainability, renewable energies, green manufacturing techniques, and technology innovation. He is Assistant Director of the Sustainability and Environmental Management Program at the Division of Continuing Education in Harvard University, this program has more than 300 Master’s students.Dr. Sanchez has fifteen records of invention and five patents in the United States and Europe. From 2000 to 2003 he worked as a forward products lead engineer at Delphi Automotive Systems, a former division of General Motors, dedicated to the design and manufacturing of electronic components and automotive systems. As an automotive designer, he was a member of a research group that won the National Technology Award in Mexico in 2002.  Ramon received a Doctor of Science and a Master of Science Degree in Environmental Health from the Harvard School of Public Health (HSPH), he previously received a Master of Science Degree in Manufacturing Systems and Technology Innovation and a Bachelor of Science in Mechanical Engineering from Instituto Tecnologico y de Estudios Superiores de Monterrey (ITESM) Campus Monterrey in Mexico.  Before coming to Harvard, Ramon was Chief Engineer and Manufacturing Manager in a company dedicated to the design and manufacturing of furniture and consumer products.  In this corporation he had seven departments under his supervision where hundreds of workers and engineers created and built products that yielded approximately $220 million dollars per year in revenues. </p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("maccisse.png", :class => "speaker_image") %>
		</div>
		<div class="span8">
			<h3 class="speaker_title">Luis  Maccise</h3>
			<p class="speaker">Luis Maccise has served as Chief Executive Officer of Grupo MAC Multimedia, where he oversees the operation of a broad range of media outlets, for 25 years. Under his leadership, the company has expanded dramatically, launching and acquiring newspapers, radio stations and a TV channel. Before joining Grupo MAC Multimedia, Luis worked as supervising editor at OEPISA, a publisher of comics, and managing editor at publisher Lithomex. He is currently vice president of Empresarios por México, A.C., a business advocacy group. Luis is an active member of his community and philanthropist, serving with distinction as Mexico State's delegate for the Mexican Red Cross from 2006-2012. As president of the Board for Private Assistance for Mexico State (JAPEM), which brings together businesses and civil organizations to support charitable causes, he led a push to boost membership. Luis holds a bachelor's degree in Computer Information Systems and an associate degree in Business Creation from the Tecnológico de Monterrey. Luis is also an avid runner, and has completed marathons in New York, Chicago and Las Vegas.</p>
		</div>
	</div>

</div>