<h1 class="title">Speakers</h1>

<div class="team">
	<div class="row">
		<div class="span2">
			<%= image_tag("suit.png", :class => "member") %>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("suit.png", :class => "member") %>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("suit.png", :class => "member") %>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("suit.png", :class => "member") %>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("suit.png", :class => "member") %>
		</div>
	</div>
</div>