<h1 class="title">The Team</h1>

<div class="team">
	<div class="row">
		<div class="span2">
			<%= image_tag("joaquin.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3>Joaquin Leal</h3>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("federico.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3>Federico Benavides</h3>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("rodrigo.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3>Rodrigo Guara</h3>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("alan.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3>Alan Harvey</h3>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("salvador.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3>Salvador Neme</h3>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span2">
			<%= image_tag("alejandro.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3>Alejandro Dubovoy</h3>
		</div>
	</div>
</div>
