<h1 class="title">The Team</h1>

<div class="row">
	<div class="span2">
		<%= image_tag("suit.png", :class => "member") %>
	</div>
</div>

</br>

<div class="row">
	<div class="span2">
		<%= image_tag("suit.png", :class => "member") %>
	</div>
</div>

</br>

<div class="row">
	<div class="span2">
		<%= image_tag("suit.png", :class => "member") %>
	</div>
</div>

</br>

<div class="row">
	<div class="span2">
		<%= image_tag("suit.png", :class => "member") %>
	</div>
</div>

</br>

<div class="row">
	<div class="span2">
		<%= image_tag("suit.png", :class => "member") %>
	</div>
</div>

