<h1 class="title">The Team</h1>

<div class="team">
	<div class="row">
		<div class="span3">
			<%= image_tag("joaquin.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3 class="team_member_name">Joaquin Leal</h3>
			<h4 class="team_member_role">Vice President of Marketing</h4>
			<p class="team_member_bio">Born in Irapuato, Mexico. Concentrating in Environmental Sustainability with an expected graduation date of May 2014. Previous work experience interning at the State House of Massachusetts with Representative Jeffrey Sanchez, as well as in the Massachusetts Clean Energy Center, and Vertex Engineers in Boston, MA.  
			</p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span3">
			<%= image_tag("federico.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3 class="team_member_name">Federico Benavides</h3>
			<h4 class="team_member_role">President</h4>
			<p class="team_member_bio">Mr. Benavides is the current president of the BMA,  was born in Monterrey Mexico and he started his education at Babson College in August of 2010. He is majoring in Finance with an expected graduation date of May 2014. He previously worked for Beamonte Investments as a Private Equity analyst intern in Boston in the summer of 2012 and at the Mexican Embassy of Mexico in China in the summer of 2011.</p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span3">
			<%= image_tag("rodrigo.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3 class="team_member_name">Rodrigo Guara</h3>
			<h4 class="team_member_role">Treasurer</h4>
			<p class="team_member_bio">Born in Mexico City, transferred to Babson College in the Spring of 2011. Concentrating in Entrepreneurship and Economics with an expected graduation date of May 2013. Previous work experience interning at Bulltick Capital Markets in Miami, FL as well as CSC Sugar in Stamford, CT and Atramat in Mexico City, Mexico. </p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span3">
			<%= image_tag("alan.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3 class="team_member_name">Alan Harvey</h3>
			<h4 class="team_member_role">Vice President of Operations</h4>
			<p class="team_member_bio">Born in Mexico City, transferred to Babson College in the Fall of 2011. Concentrating in Finance and Entrepreneurship with an expected graduation date of May 2013. Previous work experience as a full time Financial Analyst at Genomma Lab Intl. in Mexico City, Mexico.</p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span3">
			<%= image_tag("salvador.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3 class="team_member_name">Salvador Neme</h3>
			<h4 class="team_member_role">Vice President of Public Relations</h4>
			<p class="team_member_bio">Born in Mexico City, transferred to Babson College in the Spring of 2012. Concentrating in Economics with an expected graduation date of May 2014. Previous work experience as Co-Founder of Hai Alive Entertainment and Grupo Optimas as well as Producer of Activa Films, all in Mexico. </p>
		</div>
	</div>

	</br>

	<div class="row">
		<div class="span3">
			<%= image_tag("alejandro.jpg", :class => "member") %>
		</div>
		<div class="span5">
			<h3 class="team_member_name">Alejandro Dubovoy</h3>
			<h4 class="team_member_role">Vice President of Sales</h4>
			<p class="team_member_bio">Born and raised in Mexico City and then moved to Miami, FL. Currently a Junior at Babson College concentrating in Technology, Entrepreneurship & Design with an expected graduation date of May 2014. Previously founded web startup Couponmat.com.</p>
		</div>
	</div>
</div>
