<div class="header">
  <%= image_tag('header.png') %>

   <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <%= link_to "Home", "home" %>
        </li>
        </li>

         <li>
            <%= link_to "Mexico Profile", "mexico_profile" %>
        </li>

        <li>
            <%= link_to "About Babson College", "about_babson" %>
        </li>

        <li>
            <%= link_to "About BMA", "about" %>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
          Events
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to "2013 Babson Mexican Conference", "event_one" %> 
          </li>
          </ul>
        </li>

        <li>
            <%= link_to "Speakers", "speakers" %>
        </li>
        
        <li>
            <%= link_to "The Team", "team" %>
        </li>

        <li>
          <%= link_to "Contact", "contact_info" %>
        </li>
         
      </ul>
    </div>
   </div>
</div>

   